#fondo{
    background-color: #a9d6e5;
}
#titulo{
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: #012a4a;
    width: 85%;
    text-align: center;
    text-shadow: 3px 3px 3px #000000;
    color: #014f86;
}
#descripcion{
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: #2a6f97;
    width: 85%;
    text-align: center;
    border-radius: 10px;
    margin-top: 15px;
}
#tarjetas{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}