body{
    background-color: #81b29a;
}
#titulo{
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: #40916c;
    width: 50%;
    text-align: center;
    border-radius: 10px;
}